$white: #ffffff;
$black: #000000;
$black_blue0: #1a1a49;
$black_blue1: #15153b;
$black_blue2: #10102c;
$black_blue3: #0b0b1e;
$gray0: #f9f9f9;
$gray1: #ededed;
$gray2: #e0e0e0;
$gray3: #d2d2d2;
$gray4: #c3c3c3;
$gray5: #b2b2b2;
$gray6: #9f9f9f;
$gray7: #888888;
$gray8: #6c6c6c;
$gray9: #3f3f3f;
$gray0_warm: #f9f9f8;
$gray1_warm: #efedea;
$gray2_warm: #e3e0db;
$gray3_warm: #d7d2cb;
$gray4_warm: #c9c2ba;
$gray5_warm: #bab1a7;
$gray6_warm: #a99e90;
$gray7_warm: #938777;
$gray8_warm: #746a5e;
$gray9_warm: #443e37;
$gray0_cold: #f8f9fa;
$gray1_cold: #ebedef;
$gray2_cold: #dde1e5;
$gray3_cold: #ced3d9;
$gray4_cold: #bec4cc;
$gray5_cold: #abb3bd;
$gray6_cold: #96a0ad;
$gray7_cold: #7d8a99;
$gray8_cold: #626d79;
$gray9_cold: #393f47;
$red0: #ffebea;
$red1: #ffd6d3;
$red2: #ffbcb9;
$red3: #ff9e99;
$red4: #ff756e;
$red5: #ff2014;
$red6: #e61c12;
$red7: #ca190f;
$red8: #a8150d;
$red9: #790f09;
$orange0: #fff2e2;
$orange1: #ffe4c3;
$orange2: #ffd4a1;
$orange3: #ffc37a;
$orange4: #ffae4c;
$orange5: #ff9514;
$orange6: #e68612;
$orange7: #ca760f;
$orange8: #a8620d;
$orange9: #794609;
$yellow0: #fdffe8;
$yellow1: #fcffcf;
$yellow2: #fbffb3;
$yellow3: #f9ff90;
$yellow4: #f7ff62;
$yellow5: #f3ff14;
$yellow6: #dce712;
$yellow7: #c1cb0f;
$yellow8: #a1a90d;
$yellow9: #757b09;
$lime0: #f1ffe6;
$lime1: #e2ffca;
$lime2: #d0ffab;
$lime3: #bcff85;
$lime4: #a3ff57;
$lime5: #7eff14;
$lime6: #72e712;
$lime7: #64cb0f;
$lime8: #53a90d;
$lime9: #3c7b09;
$green0: #ebffec;
$green1: #d5ffd7;
$green2: #bbffbe;
$green3: #9cffa1;
$green4: #71ff79;
$green5: #14ff20;
$green6: #12e71c;
$green7: #0fcb19;
$green8: #0da915;
$green9: #097b0f;
$teal0: #eafff5;
$teal1: #d2ffea;
$teal2: #b7ffde;
$teal3: #96ffcf;
$teal4: #69ffbb;
$teal5: #14ff95;
$teal6: #12e787;
$teal7: #0fcb76;
$teal8: #0da963;
$teal9: #097b48;
$cyan0: #e8fdff;
$cyan1: #cffcff;
$cyan2: #b2fbff;
$cyan3: #8ef9ff;
$cyan4: #60f6ff;
$cyan5: #14f3ff;
$cyan6: #12dce7;
$cyan7: #0fc1cb;
$cyan8: #0da1a9;
$cyan9: #09757b;
$blue0: #e5f1ff;
$blue1: #c9e1ff;
$blue2: #aad0ff;
$blue3: #85bcff;
$blue4: #56a2ff;
$blue5: #147eff;
$blue6: #1271e6;
$blue7: #0f63c9;
$blue8: #0d52a6;
$blue9: #093a76;
$indigo0: #ecebff;
$indigo1: #d7d5ff;
$indigo2: #bebbff;
$indigo3: #a19cff;
$indigo4: #7972ff;
$indigo5: #2014ff;
$indigo6: #1c12e6;
$indigo7: #190fc9;
$indigo8: #140da6;
$indigo9: #0e0975;
$violet0: #f5eaff;
$violet1: #ebd2ff;
$violet2: #deb7ff;
$violet3: #d096ff;
$violet4: #bc6aff;
$violet5: #9514ff;
$violet6: #8612e6;
$violet7: #750fc9;
$violet8: #610da6;
$violet9: #450977;
$fuschia0: #ffebfd;
$fuschia1: #ffd5fc;
$fuschia2: #ffbbfb;
$fuschia3: #ff9cf9;
$fuschia4: #ff72f7;
$fuschia5: #ff14f3;
$fuschia6: #e612dc;
$fuschia7: #cb0fc1;
$fuschia8: #a80da0;
$fuschia9: #7a0974;
$pink0: #ffebf4;
$pink1: #ffd4e7;
$pink2: #ffbad9;
$pink3: #ff9ac8;
$pink4: #ff70b0;
$pink5: #ff147e;
$pink6: #e61272;
$pink7: #ca0f64;
$pink8: #a80d53;
$pink9: #79093c;

$color-primary-light: $red3;
$color-primary:       $red5;
$color-primary-dark:  $red7;
$color-accent-light:  $indigo3;
$color-accent:        $indigo5;
$color-accent-dark:   $indigo7;
$color-success-light: $green3;
$color-success:       $green5;
$color-success-dark:  $green7;
$color-error-light:   $red3;
$color-error:         $red5;
$color-error-dark:    $red7;
$color-warning-light: $orange3;
$color-warning:       $orange5;
$color-warning-dark:  $orange7;
$color-info-light:    $blue3;
$color-info:          $blue5;
$color-info-dark:     $blue7;
$color-neutral-light: $gray3;
$color-neutral:       $gray5;
$color-neutral-dark:  $gray7;

// Utilities
$color-shadow: $indigo9;

// Layout
$color-body-bg: $gray1;

// Typography
$color-font-body:       $gray9;
$color-font-headings:   $gray9;
$color-font-light:      $gray9;

$color-font-figcaption: $color-font-body;

$color-font-mark: $yellow5;
$color-font-mark-bg: $black;

$color-font-selection: $color-body-bg;
$color-font-selection-bg: $color-accent;

// Links
$color-link-normal:     $indigo5;
$color-link-hover:      $indigo3;
$color-link-active:     $red5;
$color-link-visited:    $violet5;

// Navigation
$color-nav-bg: $white;
$color-nav-link-normal-text: $color-font-body;
$color-nav-link-normal-bg:   $color-body-bg;
$color-nav-link-hover-text:  $color-font-body;
$color-nav-link-hover-bg:    $color-body-bg;
$color-nav-backdrop-bg:      rgba($color-shadow, 0.25);
