@import 'colors';
@import 'typography';

$size-xs:     239 / 16 + em;
$size-xs-up:  240 / 16 + em;
$size-s:      479 / 16 + em;
$size-s-up:   480 / 16 + em;
$size-m:      767 / 16 + em;
$size-m-up:   768 / 16 + em;
$size-l:      1023 / 16 + em;
$size-l-up:   1024 / 16 + em;
$size-xl:     1365 / 16 + em;
$size-xl-up:  1366 / 16 + em;
$size-xxl:    1919 / 16 + em;
$size-xxl-up: 1920 / 16 + em;

$navigation-height: 12rem;

$pad-xs:  0.1rem;
$pad-s:   0.25rem;
$pad-m:   0.5rem;
$pad-l:   1rem;
$pad-xl:  2rem;
$pad-xxl: 4rem;

$border-radius-xs:  0.1rem;
$border-radius-s:   0.25rem;
$border-radius-m:   0.5rem;
$border-radius-l:   1rem;
$border-radius-xl:  2rem;
$border-radius-xxl: 4rem;

// Styles we can get the same variables in JS via getComputedStyle()
#size-xs-up {
	display: none;
	width: $size-xs-up;
}

#size-s-up {
	display: none;
	width: $size-s-up;
}

#size-m-up {
	display: none;
	width: $size-m-up;
}

#size-l-up {
	display: none;
	width: $size-l-up;
}

#size-xl-up {
	display: none;
	width: $size-xl-up;
}

#size-xxl-up {
	display: none;
	width: $size-xxl-up;
}
