@import "_config/_getConfig.scss";

section {
	&.grid {
		.row {
			.col {
				position: relative;

				.bg-image {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}

@media only screen and (min-width:1px) {
	.grid {
		&-content {
			padding: 25px;
		}
	}
}

@media only screen and (min-width:481px) {
	.grid {
		&-content {
			padding: 50px;
		}
	}
}

@media only screen and (min-width:769px) {
}

@media only screen and (max-width:1024px) {
	.grid {
		&-content {
			@include center();
			max-width: 600px;
		}
	}	
}

@media only screen and (min-width:1025px) {
	section {
		&.grid {
			&-flow {
				.row {
					.col {
						height: auto;
					}
				}
			}

			&-large {
				.row {
					.col {
						height: $width-large / 2;
					}
				}
			}

			&-medium {
				.row {
					.col {
						height: $width-medium / 2;
					}
				}
			}

			&-small {
				.row {
					.col {
						height: $width-small / 2;
					}
				}
			}
		}
	}

	.grid {
		&-large,
		&-medium,
		&-small {
			.grid-content {
				@include center('vertically');
			}
		}
	}
}