@import "_config/_getConfig.scss";

nav {
	padding: 0 10px 0 !important;
}

#intro-header {
	background-position: center right;

	#heading {
		@include center('block');
		width: 80%;
		max-width: 600px;
	}

	#btn-contact {
		margin-top: 50px;
	}
}

#services {
	h3 {
		a {
			@include transition(0.1s);
			position: relative;

			&:after {
				@include transition(0.1s);
				@include center('block');
				position: absolute;
				top: 100%;
				right: 0;
				left: 0;
				content: ' ';
				width: 75%;
				height: 2px;
				background-color: darken($color-grey, 50%);
			}

			&:hover {
				&:after {
					width: 100%;
				}
			}
		}

		&#datahjelp {
			a {
				&:hover {
					color: $color-datahjelp;

					&:after {
						background-color: $color-datahjelp;
					}
				}
			}
		}

		&#opplaring {
			a {
				&:hover {
					color: $color-opplaring;

					&:after {
						background-color: $color-opplaring;
					}
				}
			}
		}

		&#web_design {
			a {
				&:hover {
					color: $color-web_design;

					&:after {
						background-color: $color-web_design;
					}
				}
			}
		}
	}
}

// @media only screen and (min-width:1px) {
// }

// @media only screen and (min-width:481px) {
// }

// @media only screen and (min-width:769px) {
// }

@media only screen and (min-width:1025px) {
	section {
		padding: $padding-large;
	}
}