$color-white:		#ffffff;
$color-grey:		#f0f0f0;
$color-black:		#2a2a2a;
$color-red:			#f25b6c;
$color-purple:		#8b9aff;
$color-blue:		#5bb8f2;
$color-green:		#b8f25b;
$color-yellow:		#f2e15b;
$color-orange:		#ffb68b;

$color-primary:		$color-red;
$color-accent:		$color-blue;
$color-text:		$color-black;

$color-datahjelp:	$color-primary;
$color-opplaring:	$color-purple;
$color-web_design:	$color-blue;

$color-alert:		$color-red;
$color-warning:		$color-yellow;
$color-success:		$color-green;

$colors:
		'white' $color-white,
		'grey' $color-grey,
		'black' $color-black,
		'primary' $color-primary,
		'datahjelp' $color-datahjelp,
		'accent' $color-accent,
		'web_design' $color-web_design,
		'alert' $color-alert,
		'opplaring' $color-opplaring,
		'warning' $color-warning,
		'success' $color-success;

$colors_light:
			'white' $color-white,
			'grey' $color-grey,
			'opplaring' $color-opplaring,
			'success' $color-success;

$colors_dark:
			'black' $color-black,
			'primary' $color-primary,
			'accent' $color-accent,
			'datahjelp' $color-datahjelp,
			'web_design' $color-web_design,
			'alert' $color-alert;