// General Variables
$width-small:	700px;
$width-medium:	1024px;
$width-large:	1200px;

$navigation-height: 50px;

$padding-small: 25px;
$padding-medium: 50px;
$padding-large: 100px;

$fonts: sans-serif, Helmet, Freesans;

// Media Query Ranges
$smallest-screen-up:	1px !default;
$small-screen:			480px !default;
$small-screen-up:		481px !default;
$medium-screen:			768px !default;
$medium-screen-up:		769px !default;
$large-screen:			1024px !default;
$large-screen-up:		1025px !default;

$smallest-and-up:	"screen and (min-width : #{$smallest-screen-up})" !default;
$small-and-down:	"screen and (max-width : #{$small-screen})" !default;
$small-and-up:		"screen and (min-width : #{$small-screen-up})" !default;
$medium-and-down:	"screen and (max-width : #{$medium-screen})" !default;
$medium-only:		"screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;
$medium-and-up:		"screen and (min-width : #{$medium-screen-up})" !default;
$large-and-down:	"screen and (max-width : #{$large-screen})" !default;
$large-and-up:		"screen and (min-width : #{$large-screen-up})" !default;

// Grid Variables
$num-cols: 		12 !default;