.root {
  display: flex;
  justify-content: center;
  background-color: $color-white;
  background-color: transparent;
  width: 100%;
  max-width: 100%;

  @media ($media-min-small) {
    // background-color: rgba($color-white, 0.8);
  }

  & a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      color: inherit;
      text-decoration: underline;
    }
  }
}

.inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  padding: $space-small;
  width: $page_width;
  max-width: 100%;

  @media ($media-min-medium) {
    padding: $space-small $space-base;
  }

  @media ($media-min-large) {
    padding: $space-small $space-large;
  }
}

.logo {
  width: #{$size-medium}em;
  flex-shrink: 0;

  svg {
    display: block;
    width: 100%;
    height: auto;
    max-height: 100%;
  }
}

.mainLinks {
  display: none;

  @media ($media-min-small) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0 $space-base;
    overflow: auto;
  }

  @media ($media-min-medium) {
    padding: 0 $space-medium;
  }

  @media ($media-min-large) {
    padding: 0 $space-large;
  }

  > a {
    margin-right: $space-base;
    white-space: nowrap;
  }
}

.megaMenu {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  color: $color-black;
  background-color: $color-white;
  transform: translateY(-100%);
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.77, 0, 0.18, 1);
}

.root[aria-expanded='true'] .megaMenu {
  transform: translateY(0%);
}

.megaMenuInner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
  padding: $space-small $space-small $space-medium;
  width: $page_width;
  max-width: 100%;

  @media ($media-min-medium) {
    padding: $space-small $space-base $space-large;
  }

  @media ($media-min-large) {
    padding: $space-small $space-large $space-large;
  }
}

.topBar {
  position: sticky;
  top: $space-small;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media ($media-min-small) {
    padding-bottom: $space-large;
  }

  @media ($media-min-xlarge) {
    padding-bottom: $space-xlarge;
  }
}

.megaMenuMainLinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: $font-size-h3;
  width: 100%;
  max-width: $page_width;
  padding-right: $space-medium;

  @media ($media-min-medium) {
    font-size: $font-size-h2;
    width: 50%;
  }

  > a {
    width: 100%;

    @media ($media-min-small) {
      width: 50%;
    }

    @media ($media-min-medium) {
      width: 100%;
    }

    @media ($media-min-large) {
      width: 50%;
    }
  }
}

.megaMenuOtherLinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  @media ($media-min-medium) {
    width: 50%;
  }

  h2 {
    font-size: $font-base-size;
    font-weight: $font-weight-body;
    font-family: $font-family-body;
    color: $color-gray_cold600;
  }

  .megaMenuOtherLinksGroup {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}

.toggle,
.close {
  cursor: pointer;
  flex-shrink: 0;
  width: #{$size-medium}em;
  padding: $space-tiny;
  border-radius: 100%;
  color: $color-black;

  & > svg {
    vertical-align: middle;
    display: block;
    width: 100%;
    height: auto;
    max-height: 100%;
  }
}

.toggle {
  background-color: rgba($color-white, 0.25);
  backdrop-filter: blur(0.5em) brightness(150%) contrast(150%);

  @supports not (backdrop-filter: blur()) {
    @media ($media-min-small) {
      color: $color-black;
      background-color: $color-white;
      backdrop-filter: none;
    }
  }
}
