@import 'config/variables';
@import 'modules/utilities';
@import 'modules/typography';

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }

  &::before,
  &::after {
    text-decoration: inherit;
    vertical-align: inherit;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  font-size: $font-size;
  line-height: $line-height;

  @media screen and (min-width: $size-m-up) {
    font-size: $font-size-desktop;
    line-height: $line-height-desktop;
  }
}

body {
  position: relative;
  background-color: $color-body-bg;
}

#flash-message {
	display: none;
}

a {
  // font-family: $font-code;
  // font-weight: $font-code-weight;
}

.page-header,
.page-section {
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;

	> .inner-wrapper {
		width: 100%;
		max-width: $size-l;
		padding: 0 1em;
	}
}

body {
  &.front-page {
    .page-header {
      padding: 2.5em 0;
      position: relative;

      @media screen and (min-width: $size-m-up) {
        padding: 5em 0;
      }

      h1 {
        margin: 0;
        position: relative;
        z-index: 2;
        font-size: 2rem;
        color: $black;

        @media screen and (min-width: $size-m-up) {
          font-size: 3.5rem;
        }
      }

      #bg-graphic {
        display: none;
        z-index: -1;
        position: absolute;
        left: 0;
        right: 0;
        top: 120%;
        transform: translateY(-50%);
        width: 100%;
        opacity: 0.25;
      }
    }

    #services {
      padding: 2.5em 0;

      @media screen and (min-width: $size-m-up) {
        padding: 5em 0;
      }

      .inner-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-content: center;
        flex-direction: row;

        > div {
          @media screen and (min-width: $size-m-up) {
            flex-basis: 50%;
          }
        }
      }

      img {
        @media screen and (max-width: $size-m) {
          display: none;
        }
      }

      h2 {
        margin-top: 0;
      }

      ul {
        list-style-type: none;
        padding: 0;

        li {
          a {
            font-size: 1.75em;
            color: $gray9_cold;
            text-decoration: none;

            &:focus,
            &:hover {
              // text-decoration: underline;
              text-decoration: none;
            }
          }
        }
      }
    }

    #references {
      padding: 0 0 2.5em;

      @media screen and (min-width: $size-m-up) {
        padding: 0 0 5em;
      }

      .inner-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
      }

      .references {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        width: 100%;

        .reference {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-content: flex-start;
          align-items: flex-start;
          width: 100%;
          margin: 2.5em 0;
          height: 400px;
          box-shadow: 0 40px 100px -50px rgba($indigo9, 0.3);
          @include transition('box-shadow, transform');

          @media screen and (min-width: $size-m-up) {
            margin: 5em 0;
            width: (100%/3)*2;
          }

          &:first-child {
            @media screen and (min-width: $size-m-up) {
              margin: 2.5em 0 5em;
            }
          }

          &:nth-child(odd) {
            @media screen and (min-width: $size-l-up) {
              margin-left: -5em;
            }
          }

          &:nth-child(even) {
            align-self: flex-end;

            @media screen and (min-width: $size-l-up) {
              margin-right: -5em;
            }
          }

          &-title {
            font-family: $font-body;
            font-weight: $font-body-weight;
            position: absolute;
            z-index: 2;
            top: 80%;
            padding: 0.5em 1em;
            background-color: $color-body-bg;
            box-shadow: 0 30px 100px -35px rgba($indigo9, 0.5);
            @include transition('transform, box-shadow');

            @media screen and (min-width: $size-l-up) {
              top: 75%;
            }
          }

          &-graphic {
            overflow: hidden;
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: repeat;
          }

          &-logo {
            position: absolute;
            left: 0;
            right: 0;
            display: block;
            margin: 0 auto;
            z-index: 2;
            top: 50%;
            transform: translateY(-50%);
            width: auto;
            height: 17%;
          }

          &-categories {
            display: none;
          }

          &:hover {
            @media screen and (min-width: $size-l-up) {
              box-shadow: 0 50px 100px -50px rgba($indigo9, 0.35);
              transform: scale(1.05);

              .reference {
                &-title {
                  transform: translateX(-5%) translateY(5%);
                  box-shadow: -5px 35px 100px -35px rgba($indigo9, 0.65);
                }
              }
            }
          }
        }
      }
    }
  }
}

@import 'modules/media';
@import 'modules/navigation';
