html,
body {
	font-family: $font-body;
	font-weight: $font-body-weight;
}

h1, h2,
h3, h4,
h5 {
	color: $color-font-headings;
	font-weight: $font-headings-weight;
	font-family: $font-headings;
}

// Set headings sizes, line-heights and margins
@each $heading, $properties in $headings {
	#{$heading} {
		font-size:     nth($properties, 1) + em;
		line-height:   nth($properties, 2) + em;
		margin-top:    nth($properties, 3) + em;
		margin-bottom: nth($properties, 4) + em;
	}
}

@media screen and (min-width: $size-m-up) {
	@each $heading, $properties in $headings-desktop {
		#{$heading} {
			font-size:     nth($properties, 1) + em;
			line-height:   nth($properties, 2) + em;
			margin-top:    nth($properties, 3) + em;
			margin-bottom: nth($properties, 4) + em;
		}
	}
}

// Set margins between headings
h1 + h2 {
	margin-top: 0;
}

h2 + h3,
h3 + h4,
h4 + h5 {
	margin-top: 0;
}

h5 + h6 {
	margin-top: -$pad-xs;
}

h6 {
	font-family: $font-headings;
	font-weight: $font-body-weight;
	font-style: $font-headings-italic;
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

.content {
	&-text {
		p {
			margin-bottom: $pad-l;
		}

		&-legal {
			p {
				text-align: justify;
			}

			&-introduction {
				p {
					text-align: center;
				}
			}
		}
	}
}

hgroup {
	display: block;
}

blockquote {
	font-style: $font-body-italic;
	padding-left: $pad-s;

	@media screen and (min-width: $size-m-up) {
		padding-left: $pad-m;
	}
}

cite {
	display: block;
	font-style: normal;
}

// Quotes
figure blockquote {
	padding: $pad-s 0;

	@media screen and (min-width: $size-m-up) {
		padding: $pad-l 0 $pad-m;
		text-align: center;
	}
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}

// Clear margin for line breaks
br {
	margin-bottom: 0;
}

// Enable small caps if available & fix letter spacing
abbr {
	letter-spacing: 0.1em;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

// Prevent the duplicate application of `bolder` by the next rule in Safari 6.
strong {
	font-weight: inherit;
}

// Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
strong {
	font-weight: $font-weight-bold;
}

// Address styling not present in Safari and Chrome.
dfn {
	font-style: $font-body-italic;
}

// Prevent `em` and `i` affecting `line-height` in all browsers.
em {
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

// Address styling not present in IE 8/9.
mark {
	background: $color-font-mark-bg;
	color: $color-font-mark;
}

small {
	line-height: ($line-height / 2);
	font-size: 0.7em;
}

// Prevent `sub` and `sup` affecting `line-height` in all browsers.
sub,
sup {
	font-size: 0.75em;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

dl dd,
ul li,
ol li {
	margin-bottom: 0;
}

dl dt {
	margin-top: $pad-m;
	font-weight: $font-weight-bold;
}

a {
	background: transparent;
	color: $color-link-normal;
	@include transition('color, background-color');
	text-decoration-skip-ink: auto; // Make underline skip over text

	&:active,
	&:hover {
		outline: 0;
	}

	&:focus {
		outline: 1px dotted $color-link-hover;
		outline-offset: .2em;
	}

	&:focus,
	&:hover {
		color: $color-link-hover;
	}

	// &:visited {
	// 	color: $color-link-visited;

	// 	&:focus,
	// 	&:hover {
	// 		color: $color-link-hover;
	// 	}
	// }

	// &:active {
	// 	color: $color-link-active;
	// }
}

code,
kbd,
samp,
pre {
	font-size: 1em;
	font-family: $font-code;
	font-weight: $font-code-weight;
}

.icon {
	&:first-child {
		margin: 0 $pad-s 0 0;
	}

	&:last-child {
		margin: 0 0 0 $pad-s;
	}

	&:first-child:last-child {
		margin: 0;
	}
}

// Remove the text shadow on text selections (opinionated).
// Restore the coloring undone by defining the text shadow (opinionated).
::-moz-selection {
	background-color: $color-font-selection-bg;
	color: $color-font-selection;
	text-shadow: none;
}

::selection {
	background-color: $color-font-selection-bg;
	color: $color-font-selection;
	text-shadow: none;
}
