@mixin transition($properties, $duration: '250ms', $timing_function: cubic-bezier(0.4, 0.0, 0.2, 1)) {
  transition-property: unquote($properties);
  transition-duration: unquote($duration);
  transition-timing-function: $timing_function;
}

@mixin shadow($depth: 1, $strength: 1) {
  @if $depth == 0 { box-shadow: 0 0 0 rgba($color-shadow, 0); }

  @if $strength == 1 {
    @if $depth == 1 { box-shadow: 0 .25rem 1rem rgba($color-shadow, .05); }
    @else if $depth == 2 { box-shadow: 0 .5rem 1rem rgba($color-shadow, .05);  }
  }

  @if $strength == 2 {
    @if $depth == 1 { box-shadow: 0 .25rem 1rem rgba($color-shadow, .1); }
    @else if $depth == 2 { box-shadow: 0 .5rem 1rem rgba($color-shadow, .1); }
  }

  @if $strength == 3 {
    @if $depth == 1 { box-shadow: 0 .25rem 1rem rgba($color-shadow, .2); }
    @else if $depth == 2 { box-shadow: 0 .5rem 1rem rgba($color-shadow, .2); }
  }
}

// So JS to detect what kind of device we are on
#devicecheck {
  display: none !important;
  width: 0;
  height: 0;
  visibility: hidden;
  content: '';

  @media (max-width: $size-m) {
    content: 'mobile';
  }

  @media (min-width: $size-m-up ) and (max-width: $size-l) {
    content: 'tablet';
  }

  @media (min-width: $size-l-up ) {
    content: 'desktop';
  }
}

/**
 * Add the correct display in IE 10-.
 */

[hidden],
.hidden {
  display: none;
}

// So JS to detect what kind of device we are on
#devicecheck {
  display: none !important;
  width: 0;
  height: 0;
  visibility: hidden;
  content: '';

  @media (max-width: $size-m) {
    content: 'mobile';
  }

  @media (min-width: $size-m-up ) and (max-width: $size-l) {
    content: 'tablet';
  }

  @media (min-width: $size-l-up ) {
    content: 'desktop';
  }
}
