.btn,
button,
input[type="button"],
input[type="submit"] {
	@include transition(0.25s);
	display: inline-block;
	padding: 10px 20px;
	color: $color-white;
	text-align: center;
	text-transform: uppercase;
	font-family: 'festivo18', $fonts;
	font-weight: lighter;
	border: none;
	border-radius: 0;
	background-color: $color-primary;
	box-shadow: 0 5px 7.5px rgba($color-black, 0.15);

	&:hover,
	&:focus {
		cursor: pointer;
		color: $color-white;
		box-shadow: 0 10px 10px rgba($color-black, 0.30);
	}

	@each $color_name, $color_value in $colors_light {
		&.#{$color_name} {
			color: $color-black;
			background-color: $color_value;

			&:hover,
			&:focus {
				background-color: darken($color_value, 10%);
			}
		}
	}
	
	@each $color_name, $color_value in $colors_dark {
		&.#{$color_name} {
			color: $color-white;
			background-color: $color_value;

			&:hover,
			&:focus {
				background-color: lighten($color_value, 10%);
			}
		}
	}
}