@each $color, $color_value in $colors_light {
	.#{$color} {
		&-bg {
			background-color: $color_value !important;
		}
		
		&-text {
			color: $color_value !important;
		}
		
		&-stroke {
			border: 1px solid $color_value !important;
		}
	}
}

@each $color, $color_value in $colors_dark {
	.#{$color} {
		&-bg {
			background-color: $color_value !important;
		}
		
		&-text {
			color: $color_value !important;
		}
		
		&-stroke {
			border: 1px solid $color_value !important;
		}
	}
}