.input-field {
	padding-top: $padding-small / 2;
	padding-bottom: $padding-small / 2;
	
	input,
	textarea {
		padding: 10px;
		border: 2px solid darken($color-grey, 50%);
	}

	.field {
		float: left;
	}

	&-2 {
		@extend .input-field;

		input {
			width: 48%;

			&:last-child {
				float: right;
			}
		}
	}
}