/* --- General --- */

.clear {
	&:before, &:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

.clickable {
	cursor: pointer;
}

.block {
	display: block !important;
}

.hidden {
	display: none !important;

	&-soft {
		display: none;
	}

	&.active {
		display: block !important;
		display: inherit !important;
	}
}

.avatar {
	&-large {
		width: 256px;
	}

	&-medium {
		width: 128px;
	}

	&-small {
		width: 64px;
	}
}

.circle {
	border-radius: 100%;
}

.subtle {
	opacity: 0.5;

	&:hover,
	&:focus {
		opacity: 1;
	}

	&-very {
		opacity: 0.25;

		&:hover,
		&:focus {
			opacity: 1;
		}
	}
}

div,
section {
	&.bg-image {
		background-size: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;

		&-fixed {
			@extend .bg-image;
			background-position: top center;
			background-attachment: fixed;
		}
	}
}

/* --- Margins --- */

.no-margin {
	margin: 0 !important;
}

/* --- Paddings --- */

.no-padding {
	padding: 0 !important;
}

.space {
	&-v {
		&-large {
			padding-top: $padding-large;
			padding-bottom: $padding-large;
		}

		&-medium {
			padding-top: $padding-medium;
			padding-bottom: $padding-medium;
		}

		&-small {
			padding-top: $padding-small;
			padding-bottom: $padding-small;
		}
	}

	&-h {
		&-large {
			padding-right: $padding-large;
			padding-left: $padding-large;
		}

		&-medium {
			padding-right: $padding-medium;
			padding-left: $padding-medium;
		}

		&-small {
			padding-right: $padding-small;
			padding-left: $padding-small;
		}
	}

	&-a {
		&-large {
			padding: $padding-large;
		}

		&-medium {
			padding: $padding-medium;
		}

		&-small {
			padding: $padding-small;
		}
	}
}

/* --- Alignments --- */

.left {
	float: left !important;

	&-align {
		text-align: left;
	}
}

.right {
	float: right !important;

	&-align {
		text-align: right;
	}
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;

	&-align {
		text-align: center;
	}

	&-vertically {
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform:    translateY(-50%);
		-ms-transform:     translateY(-50%);
		-o-transform:      translateY(-50%);
		transform:         translateY(-50%);
	}
}

/* --- Shadows --- */

.depth {
	&-1 {
		box-shadow: 0 0 5px rgba($color-black, 0.25);
	}

	&-2 {
		box-shadow: 0 0 7.5px rgba($color-black, 0.35);
	}

	&-3 {
		box-shadow: 0 0 10px rgba($color-black, 0.50);
	}

	&-4 {
		box-shadow: 0 0 20px rgba($color-black, 0.50);
	}

	&-5 {
		box-shadow: 0 0 30px rgba($color-black, 0.75);
	}
}

/* --- Hide/Show on different sizes --- */

.hide-on-small-and-up {
	@media #{$small-and-up} {
		display: none !important;
	}
}

.hide-on-small-only, .hide-on-small-and-down {
	@media #{$small-and-down} {
		display: none !important;
	}
}

.hide-on-medium-and-down {
	@media #{$medium-and-down} {
		display: none !important;
	}
}

.hide-on-medium-and-up {
	@media #{$medium-and-up} {
		display: none !important;
	}
}

.hide-on-medium-only {
	@media only screen and (min-width: $small-screen) and (max-width: $medium-screen) {
		display: none !important;
	}
}

.hide-on-large-only {
	@media #{$large-and-up} {
		display: none !important;
	}
}

.hide-on-large-and-down {
	@media #{$large-and-down} {
		display: none !important;
	}
}

.show-on-large {
	@media #{$large-and-up} {
		display: initial !important;
	}
}

.show-on-medium {
	@media only screen and (min-width: $small-screen) and (max-width: $medium-screen) {
		display: initial !important;
	}
}

.show-on-small {
	@media #{$small-and-down} {
		display: initial !important;
	}
}

.show-on-medium-and-up {
	@media #{$medium-and-up} {
		display: initial !important;
	}
}

.show-on-medium-and-down {
	@media #{$medium-and-down} {
		display: initial !important;
	}
}