<form action="/templates/contact" method="POST">
	<div class="row input-field-2">
		<input name="navn" class="field" type="text" placeholder="Navn" autocomplete="name">
		<input name="epost" class="field" type="email" placeholder="E-post" autocomplete="email" title="En ekte e-post addresse er nødvendig. F.eks: navn@eksempel.no"  required>
	</div>
	<div class="row input-field">
		<textarea name="melding" class="col s12" placeholder="Melding" rows="6"  title="Vennligst skriv din melding" required></textarea>
	</div>
	<button type="submit" class="font-small right">Send Melding <i class="icon-plane-paper-1 right"></i></button>
</form>